@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    font-family: Outfit;
}
.active hr{
    display: block;
}

::-webkit-scrollbar{
    display: none;
}

@media (max-width : 740px){
    .active p{
        color: white;
        background-color: var(--primary);
    }
}